<div class="login-page">
  <div class="form">
    <!-- <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form> -->
    <form class="login-form" [formGroup]="loginForm">
      <div class="form-group">
        <input type="text" placeholder="username" formControlName="username" class="form-control" [(ngModel)]="login.username" />
        <div *ngIf="loginForm.controls.username.errors && (loginForm.controls.username.dirty || loginForm.controls.username.touched)" class="alert-danger">
          <div *ngIf="loginForm.controls.username.errors.required">
            El campo username es requerido
          </div>
          <div *ngIf="loginForm.controls.username.errors.email">
            Email incorrecto
          </div>
        </div>
      </div>

      <div class="form-group">
        <input type="password" placeholder="password" formControlName="password" class="form-control" [(ngModel)]="login.password" />
        <div *ngIf="loginForm.controls.password.errors && (loginForm.controls.password.dirty || loginForm.controls.password.touched)" class="alert-danger">
          <div *ngIf="loginForm.controls.password.errors.required">
            El campo password es requerido
          </div>
        </div>
      </div>
      <button (click)="on_login()">login</button>
      <p class="message">Not registered? <a routerLink="/signup">Create an account</a></p>
    </form>
  </div>
</div>
